@import "tailwindcss";

:root {
  --background: #262626;
  --foreground: #f8fafc;

  --card: #262626;
  --card-foreground: #f8fafc;

  --popover: #262626;
  --popover-foreground: #f8fafc;

  --primary: #3b82f6;
  --primary-foreground: #020617;

  --secondary: #4f4f4f;
  --secondary-foreground: #f8fafc;

  --muted: #4f4f4f;
  --muted-foreground: #94a3b8;

  --accent: #4f4f4f;
  --accent-foreground: #f8fafc;

  --destructive: #7f1d1d;
  --destructive-foreground: #f8fafc;

  --border: #4f4f4f;
  --input: #4f4f4f;
  --ring: #2563eb;

  --radius: 0.5rem;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  * {
    border-color: var(--border);
  }
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262626;
    --foreground: #f8fafc;
    --card: #262626;
    --card-foreground: #f8fafc;
    --popover: #262626;
    --popover-foreground: #f8fafc;
    --primary: #3b82f6;
    --primary-foreground: #020617;
    --secondary: #4f4f4f;
    --secondary-foreground: #f8fafc;
    --muted: #4f4f4f;
    --muted-foreground: #94a3b8;
    --accent: #4f4f4f;
    --accent-foreground: #f8fafc;
    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;
    --border: #4f4f4f;
    --input: #4f4f4f;
    --ring: #2563eb;
    --radius: 0.5rem;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.grecaptcha-badge {
  visibility: hidden !important;
}

.ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) scale(0);
  animation: ripple-animation 0.3s ease-out forwards;
  pointer-events: none;
  opacity: 1;
}

@keyframes ripple-animation {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}
